.pledgebook-modal-container .button-container{
    text-align: right;
    padding-right: 45px;
    margin-bottom: 20px;
    font-weight: 500;
    margin-top: 20px;
}

.pledgebook-modal-container .button-container .gs-button {
    margin-left: 15px;
}

.pledgebook-modal-container {
    background-color: white;
}

.pledgebook-modal-container .gs-button .hidden {
    display: none;
}
.payment-screen {
    min-height: 400px;
}

.payment-screen .gs-table .header.a-cell {
    text-align: center;
}

.payment-screen .gs-card-content.cash-in {
    border: 1px solid lightgray;
    padding-top: 0;
}
.payment-screen .cash-in-header {
    display: none;
}
.payment-screen .transaction-date-picker .react-datepicker-wrapper {
    width: 80%;
    padding-left: 11px;
}
