.bill-creation-temlpate-setup {
    margin: 0 -15px;
    .card-heading-text-col {
        margin-top: 20px;
    }
    .action-container1 {
        text-align: right;
    }
    .first-line-header {
        padding-bottom: 10px;
    }
    .second-line-header {
        h5 {
            padding: 8px 0 17px 0;
            border-top: 1px dashed lightgrey;
        }
    }
    .third-line-header {
        h5 {
            padding: 8px 0 17px 0;
            border-top: 1px dashed lightgrey;
        }
    }
    .fourth-line-header {
        h5 {
            padding: 8px 0 17px 0;
            border-top: 1px dashed lightgrey;
        }
    }
    .fifth-line-header {
        h5 {
            padding: 8px 0 17px 0;
            border-top: 1px dashed lightgrey;
        }
    }
}
.bill-template-preview-modal .body {
    min-height: 1200px;
}