.common-modal-wrapper{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 999;
    overflow: auto;
}
.common-modal-content{
    width: 75%;
    margin: 3pc auto;
    background-color: #EDEFF0;
    padding: 20px;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
}
.common-modal-content .close-icon{
    right: 0;
    position: absolute;
    padding-right: 15px;
    top: 6px;
    cursor: pointer;
}
