.cash-book-main-card {
    .cash-book-date-filter {
        border: 1px solid;
        margin: 10px 0;
        width: 220px;
        .arrow-down-icon {
            padding-left: 7px;
        }
    }
    .fund-transaction-summary-card {
        border: 1px solid lightgray;
        border-radius: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-right: 15px;
    }
    .category-multiselect-dpd {
        max-width: 160px;
        .dropdown-heading {
            height: 26px;
        }
    }
    .account-multiselect-dpd {
        max-width: 100px;
        .dropdown-heading {
            height: 26px;
        }
    }
}
