.udhaar-list-page {
    .udhaar-list-table {
        table-layout: fixed;
    
        .udhaar-bill-filer-val,
        .customer-filer-val,
        .guardian-filer-val,
        .address-filer-val,
        .place-filer-val,
        .mobile-filer-val {
            width: 100%;
            border: 1px solid lightgray;
        }
    
        .udhaar-bill-no {
            font-weight: bold;
            cursor: pointer;
        }
    }
    .payment-card {
        margin-top: 15px;
        border: 1px solid lightgray;
        box-shadow: 1px 0px 14px 2px rgba(165,156,156,0.75);
        -webkit-box-shadow: 1px 0px 14px 2px rgba(165,156,156,0.75);
        -moz-box-shadow: 1px 0px 14px 2px rgba(165,156,156,0.75);
        padding-top: 15px;
    }
}
