.bill-series {
    width: 10px;
}
.principal-amt-field,
.bill-number-field {
    padding-right: 0 !important;
}

/*START: Custom styles for the Date Picker(to make it bigger font size looking */
.date-picker-container {
    margin-top: 27px;
    z-index: 3;
}
.react-datepicker {
    font-size: 1em;
}
.react-datepicker__header {
    padding-top: 0.8em;
}
.react-datepicker__month {
    margin: 0.4em 1em;
}
.react-datepicker__day-name, .react-datepicker__day {
    width: 1.9em;
    line-height: 1.9em;
    margin: 0.166em;
}
.react-datepicker__current-month {
    font-size: 1em;
}
.react-datepicker__navigation {
    top: 1em;
    line-height: 1.7em;
    border: 0.45em solid transparent;
}
.react-datepicker__navigation--previous {
    border-right-color: #ccc;
    left: 1em;
}
.react-datepicker__navigation--next {
    border-left-color: #ccc;
    right: 1em;
}
/*END: Custom styles for the Date Picker(to make it bigger font size looking */

.orn-input-cell {
    border: none;    
    width: calc(100% - 15px);
    padding: 6px 12px 6px 0;
    outline: none;
}
.ornament-dom-container {
    border: 1px solid lightgray;
    min-height: 200px;
    margin-top: 25px;
    padding: 15px;
}
.ornament-dom-container .form-control {
    border: none;
    box-shadow: none;
    padding: 6px 12px 6px 0;
}
.orn-input-cell:focus,
.orn-input-cell:hover,
.ornament-dom-container .form-control:hover,
.ornament-dom-container .form-control:focus {
    border-bottom: 2px solid #0acfee;
}
.ornament-dom-container .input-group {
    width: calc(100% - 10px);
}
.ornament-dom-container .input-group-btn {
    display: none;
}



.add-more-header {
    margin-bottom: 10px;
}
.add-more-header .show-more {
    color: #4db8e3;
    cursor: pointer;
    border: none;
    width: 70px;
}
.add-more-header .show-more:hover,
.add-more-header .show-more:focus {
    color: #216ba5;
}
.horizontal-dashed-line:after{
    content:"";
    position: absolute;
    /* bottom: 0; */
    left: 0;
    right: 0;
    height: 0.5em;
    border-top: 1px solid #2196f3;
    z-index: -1;
    margin-top: 11px;
}
.customer-info-display-row {
    border-bottom: 1px dashed lightgray;
    margin-left: 0;
    margin-right: 0;
    padding-top: 5px;
}
.customer-info-display-row > div {
    padding-left: 0;
    padding-right: 0;
}
.bill-remarks-adder-dom {
    margin-top: 15px;
}

.submit-container {
    margin-top: 20px;
    margin-bottom: 50px;
}

.hidden-btn {
    display: none;
}

.sub-actions-div {
    padding-left: 0 !important;
    text-align: right;
}
.sub-actions-div .icon {
    color: #2196f3;
    cursor: pointer;
}
.sub-actions-div .edit-icon {
    padding-right: 10px;
}
/* START: Modal Css */
.ReactModal__Overlay {
    z-index: 4;
}
/* END: Modal Css */

/* START: Picture */
.pic-action-container {
    margin-top: 15px;
}
.pic-action-container .icon{
    color: #2196f3;
    cursor: pointer;
}
/* END: Picture */