.tools.card {
    padding: 15px;
    box-shadow: -4px -2px 18px -8px rgba(0,0,0,0.74);
    -webkit-box-shadow: -4px -2px 18px -8px rgba(0,0,0,0.74);
    -moz-box-shadow: -4px -2px 18px -8px rgba(0,0,0,0.74);
}
.calc.operator{
    line-height: 70px;
    font-size: 30px;
}
