.gst-bill-demo-datepicker {
    .react-datepicker-wrapper {
        width: 100%;
        border-radius: 4px;
        border: 1px solid #ccc;
    }
    .gs-input-cell {
        width: 100%;
        padding-left: 7px;
    }
}
.jewellery-gst-bill-demo .gst-bill-preview .jewellery-gst-bill-paper.has-preview {
    transform: scale(0.7);
    margin-top: -120px;
}
.jewellery-gst-bill-demo .gst-bill-preview .jewellery-gst-bill-paper {
    margin-left: -35px;
}
.jewellery-gst-bill-demo {
    .orn-totals-row {
        .gs-input {
            border: none;
            &:focus-visible {
                outline: none;
            }
        }
    }
    .orn-input-row {
        .gs-input {
            border: 1px solid lightgray;
            &:focus-visible {
                outline: none;
            }
        }
    }
    .round-off-selector {
        color: #2196f3;
        cursor: pointer;
        font-size: 14px;
    }
}
.jewellery-gst-bill-demo .round-off-input {
    width: 57px;
    border: 1px solid lightgray;
    outline: none;
}

.jewellery-gst-bill-demo.container .row+.row {
    // margin-top: 10px;
}
