.loan-analytics {
    max-width: 100%;
    .customer-wise-table {
        .a-row {
            border-bottom: 1px solid lightgray;
        }
        .header {
            font-weight: bold;
            
        }
    }
}