.cust-inv-container.full-screen {
    max-width: 95%;
}
.my-customer-invoices-list-table {
    input[type="text"] {
        width: 100%;
    }
    table-layout: fixed;
    .invoice-customer-address {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}
.cust-inv-container .invoice-return-popup {
    width: 50%;
}
.jewellery-invoice-billno-col.gold-item {
    border-left: 5px solid gold;
}
.jewellery-invoice-billno-col.silver-item {
    border-left: 5px solid silver;
}
.my-customer-invoices-list-table tr.returned td {
    color: grey;
    text-decoration: line-through;
}