.jewellery-gst-bill-paper.template2 {
    display: none;
    font-size: 17px;
    width: 1050px;
    min-height: 685px;
    max-height: 685px;
    .store-name {
        color: red;
    }
}

.gst-bill-preview .jewellery-gst-bill-paper.template2.has-printcontent {
    display: block;
}

.jewellery-gst-bill-paper.template2.has-preview {
    transform: scale(0.7);
    margin-top: -70px;
}

@media print {
    .jewellery-gst-bill-paper.template2.has-preview {
        transform: none;
        margin-top: 40px;
    }
    .jewellery-gst-bill-paper.template2 {
        display: block;
        font-size: 17px;
        width: 1195px;
        min-height: 765px;
        max-height: 765px;
        .store-name {
            color: red !important;
        }
    }
}
