
.jewellery-tag-template-2-label {
    width: 80mm;
    height: 12mm;
    font-family: monospace;
    background-color: lightgray;
    display: inline-block;
    .label-content-section {
        width: 53mm;
        height: 12mm;
        display: flex;
        .section-1, .section-2 {
            width: 26mm;
            height: 12mm;
            display: inline-block;
        }
        .section-1 {
            border-right: 1px dashed;
            .row-1 {
                display: inline-block;
                height: 6mm;
                line-height: 1;
                .store-name-abbr {
                    display: inline-block;
                }
                .item-division {
                    display: inline-block;
                }
            }
            .row-2 {
                display: inline-block;
                height: 6mm;
                line-height: 1;
                .item-wt {
                    display: inline-block;
                }
            }
        }
        .section-2 {
            padding-left: 4px;
            .row-1 {
                height: 6mm;
                display: inline-block;
                line-height: 1;
                .item-size {
                    display: inline-block;
                }
                .item-name {
                    display: inline-block;
                }
            }
            .row-2 {
                height: 6mm;
                display: inline-block;
                line-height: 1;
                .item-wt {
                    display: inline-block;
                }
            }
        }
    }
}
@media print {
    .jewellery-tag-template-2-label {
        .label-content-section {
            .section-1 {
                border: none;
            }
        }
    }
}