.customer-detail-container .head-section {
    -webkit-box-shadow: -7px 5px 10px -6px #d3c5c5;
       -moz-box-shadow: -7px 5px 10px -6px #d3c5c5;
            box-shadow: -7px 5px 10px -6px #d3c5c5;
}

.customer-detail-container .autosuggestion-box{
    /* width: 85%;
    margin-left: 7%; */
}
.customer-detail-container .cust-id-input-col .form-group {
    padding-left: 6px;
    width: 90%;
    display: inline-block;
}
.customer-detail-container .cname-input-box {
    margin-bottom: 10px !important;
}
.customer-detail-container .body-section {
    max-height: 500px;
    overflow-x: hidden;
}
.body-section .a-customer-card {
    margin-top: 15px;
    padding: 5px;
    font-size: 13px;
}
.body-section .a-customer-card:hover,
.body-section .a-customer-card:focus {
    background-color: rgba(33, 150, 243, 0.08);
    cursor: pointer;
}
.body-section .a-customer-card.isSelected {
    background-color: rgba(73, 171, 249, 0.88);
    color: white;
}
.customer-detail-container .right-pane {
    padding: 15px;
    border: 1px solid lightgrey;
}
.right-pane .tab-content .container {
    width: 100%;
}
.right-pane .tab-content .tab-pane {
    margin-top: 15px;
}

.customer-detail-container .pledgebook.pagination {
    display: block;
}

.customer-detail-container a.nav-item.nav-link:focus {
    outline: none;
}
.create-customer-modal .body {
    padding-bottom: 100px;
    padding-top: 50px;
}