.notes-main-container .bill-remark-display {
    border: 1px solid;
    border-radius: 10px;
    padding: 10px 15px;
    background-color: cornsilk;
    margin-bottom: 20px;
    border-color: lightgrey;
    color: dimgrey;
}

.notes-main-container .container-view{
    padding: 20px;
    color: grey;
    text-align: center;
}

.custom-notes-card {
    border: 1px solid #caca1f;
    padding-top: 10px;
    background-color: lightyellow;
    margin-bottom: 10px;
    .gs-cls-readonly {
        .ql-toolbar {
            display: none;
        }
        .ql-container {
            border: none;
        }
    }
}