.mergeto-custinfo {
    margin-top: 15px;
}
.mergeto-custinfo-field {
    padding: 10px;
}
.mergeto-custinfo-note {
    border: 1px solid #ff8100;
    background-color: #fbdcaf;
    margin: 10px 25px;
    padding: 10px 16px;
}