.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.font-weight-bold {
  font-weight: bold;
}

.gs-button {  
  color: #2196f3;
  border: none;
  background-color: transparent;
  padding: 8px 16px;
  line-height: 1.4em;
  border-radius: 4px;
  text-transform: uppercase;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  /* background-color: #337ab7;
  border-color: #2e6da4; */
}
.gs-button.bordered {
  border: 1px solid;
}
.gs-button[disabled] {
    color: grey;
}
.gs-button.rounded {
  border-radius: 50%;
  padding: 12px;
}
.gs-button:hover,
.gs-button:focus {
  background-color: rgba(33, 150, 243, 0.08);
  outline: none;
}

.no-scroll {
  overflow: hidden;
}

.text-align-right {
  text-align: right;
}

.autosuggest .dropdown-menu {
  max-height: 300px;
  overflow-x: hidden;
}

.bgLightGrey {
  background-color: lightgray;
}
.padding-b-5 {
  padding-bottom: 5px;
}
.padding-t-5 {
  padding-top: 5px;
}

.font-family-monospace {
  font-family: monospace;
}

.no-padding {
  padding: 0;
}
.lightgrey {
  color: lightgrey;
}
.float-right {
  float: right;
}

/* TABS */
.gs-tabs .tab-content {
  margin-top: 20px;
}
.gs-tabs .nav-tabs>li>a {
  border: none;
}
.gs-tabs .nav-tabs>li.active>a,
.gs-tabs .nav-tabs>li.active>a:focus,
.gs-tabs .nav-tabs>li.active>a:hover{
  border-bottom: 2px solid #2196f3 !important;
}
/* END: TABS */

/* CARD */
.gs-card {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 2px;
}
.gs-card-content {
  padding: 20px;
}
/* END: CARD */

/* INPUT FIELD */
.gs-input-cell {
  border: none;    
  width: calc(100% - 15px);
  padding: 6px 12px 6px 0;
  outline: none;
}
.gs-input-cell:focus,
.gs-input-cell:hover {
    border-bottom: 2px solid #0acfee;
}
/*END: INPUT FIELD */