.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.font-weight-bold {
  font-weight: bold;
}

.gs-button {  
  color: #2196f3;
  border: none;
  background-color: transparent;
  padding: 8px 16px;
  line-height: 1.4em;
  border-radius: 4px;
  text-transform: uppercase;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  /* background-color: #337ab7;
  border-color: #2e6da4; */
}
.gs-button.bordered {
  border: 1px solid;
}
.gs-button[disabled] {
    color: grey;
}
.gs-button.rounded {
  border-radius: 50%;
  padding: 12px;
}
.gs-button:hover,
.gs-button:focus {
  background-color: rgba(33, 150, 243, 0.08);
  outline: none;
}

.no-scroll {
  overflow: hidden;
}

.text-align-right {
  text-align: right;
}

.autosuggest .dropdown-menu {
  max-height: 300px;
  overflow-x: hidden;
}

.bgLightGrey {
  background-color: lightgray;
}
.padding-b-5 {
  padding-bottom: 5px;
}
.padding-t-5 {
  padding-top: 5px;
}

.font-family-monospace {
  font-family: monospace;
}

.no-padding {
  padding: 0;
}
.lightgrey {
  color: lightgrey;
}