@mixin important-text {
    color: red;
    font-size: 25px;
    font-weight: bold;
    border: 1px solid blue;
}

@mixin bordered($color, $width) {
    border: $width solid $color;
}

@mixin popover-base-style {
    z-index: 3;
}

@mixin gs-input-style1 {
    border-color: lightgrey;
    outline: none;
    border-style: solid;
} 
.react-tiny-popover-container {
    @include popover-base-style;
}
body {
    font-size: 12px;
}
#root {
    min-width: 1000px;
}
.gs-pagination.pagination {
    margin: 0;
    float: right;
    li {
        >a {
            border: none;
            border-radius: 50%;
            outline: none;
            color: black;
            font-weight: bold;
        }
    }
    >.active {
        >a {
            color: white;
        }
    }
}

.credit-style {
    color: #36bd36;
    font-weight: bold;
    letter-spacing: 1px;
}

.debit-style {
    color: #c35858;
    font-weight: bold;
    letter-spacing: 1px;
}