.pledgebook-modal-container {
    .redeem-preview-container {
        margin-bottom: 20px;
        padding: 0 0 20px 30px;
        margin-left: 20px;
        border-bottom: 1px dashed lightgrey;
        .a-row {
            border: 1px solid gray;
        }
        .border-bottom {
            border-bottom: 1px solid lightgray;
        }
        .border-top {
            border-bottom: 1px solid lightgray;
        }
    }
}